# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# compiled wasm files
*.wasm
nxtgm_javascript_runtime.js

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# macOS
.DS_Store

# python
*.pyc
*.pyo
*.pyd
__pycache__/


# profiling
*.profraw

# bld dir
bld/
build_wasm

.vscode/


build.sh
coverage.sh
nxtgm.code-workspace

# javascript / node
node_modules
package-lock.json
javascript/lib/


# build dir
build/
build_wasm*/

# javascript
javascript/dist/
